{% extends "master.html" %}
{% load static %}  
{% block title %}
About Us
{% endblock %}

{% block content %}
{% include "navbar.html" %}
<section class="mt-5 mb-5">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-7 text-center mt-5">
          <h1 class="mb-4">
            About Us
          </h1>
          <div class="divider mx-auto mb-4"></div>
        </div>
      </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <h1 style="font-size: 280%;">Personal care for your healthy living</h1>
                
            </div>
            <div class="col-lg-8">
                <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt, quod laborum alias. Vitae dolorum, officia sit! Saepe ullam facere at, consequatur incidunt, quae esse, quis ut reprehenderit dignissimos, libero delectus.
                </span>
            </div>
        </div>
    </div>
</section>


<section class="serv mt-5 P-5 ">
	<div class="container ">
		<div class="row ">
			<div class="col-lg-3 col-md-6 col-sm-6">
				<div class="about-block mb-5 ">
					<img src="{% static 'images/service-1.jpg' %}" alt="" class="img-fluid">
					<div class="content">
						<h4 class="mt-4 mb-2 title-color">Healthcare for Kids</h4>
						<p class="mb-4">Voluptate aperiam esse possimus maxime repellendus, nihil quod accusantium .
                        </p>
					</div>
				</div>
			</div>

			<div class="col-lg-3 col-md-6 col-sm-6">
				<div class="about-block mb-5">
					<img src="{% static 'images/service-2.jpg' %}" alt="" class="img-fluid">
					<div class="content">
						<h4 class="mt-4 mb-2  title-color">Medical Counseling</h4>
						<p class="mb-4">Voluptate aperiam esse possimus maxime repellendus, nihil quod accusantium .</p>
					</div>
				</div>
			</div>
			
			<div class="col-lg-3 col-md-6 col-sm-6">
				<div class="about-block mb-5">
					<img src="{% static 'images/service-3.jpg' %}" alt="" class="img-fluid">
					<div class="content">
						<h4 class="mt-4 mb-2 title-color">Modern Equipments</h4>
						<p class="mb-4">Voluptate aperiam esse possimus maxime repellendus, nihil quod accusantium ..</p>
					</div>
				</div>
			</div>


			<div class="col-lg-3 col-md-6 col-sm-6">
				<div class="about-block mb-5 mb-lg-0">
					<img src="{% static 'images/service-4.jpg' %}" alt="" class="img-fluid">
					<div class="content">
						<h4 class="mt-4 mb-2 title-color">Qualified Doctors</h4>
						<p class="mb-4">Voluptate aperiam esse possimus maxime repellendus, nihil quod accusantium</p>
					</div>
				</div>
			</div>			
		</div>
	</div>
</section>


<section>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-4">
                <h1 style="font-size: 280%;">Our Doctors achievements</h1>
                <div class="divider"></div>
            </div>
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="award-img ">
                            <img src="{% static 'images/1.png' %}" alt="" class="img-fluid">
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="award-img">
                            <img src="{% static 'images/2.png' %}" alt="" class="img-fluid">
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="award-img">
                            <img src="{% static 'images/3.png' %}" alt="" class="img-fluid">
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="award-img">
                            <img src="{% static 'images/4.png' %}" alt="" class="img-fluid">
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="award-img">
                            <img src="{% static 'images/5.png' %}" alt="" class="img-fluid">
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="award-img">
                            <img src="{% static 'images/6.png' %}" alt="" class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="mt-5 mb-5">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-7 text-center mt-5">
          <h1 class="mb-4">
            Meet Our Specialist 
          </h1>
          <div class="divider mx-auto mb-4"></div>
          <p class="col-12">Today’s users expect effortless experiences. Don’t let essential people and processes stay stuck in the past. Speed it up, skip the hassles</p>
        </div>
      </div>
    </div>
</section>


<section class="serv mt-5 P-5 ">
	<div class="container ">
		<div class="row ">
			<div class="col-lg-3 col-md-6 col-sm-6">
				<div class="about-block mb-5 ">
					<img src="{% static 'images/1.jpg' %}" alt="" class="img-fluid">
					<div class="content">
						<h4 class="mt-4 mb-2 title-color">John Marshal</h4>
						<p class="mb-4">Internist, Emergency Physician
                        </p>
					</div>
				</div>
			</div>

			<div class="col-lg-3 col-md-6 col-sm-6">
				<div class="about-block mb-5">
					<img src="{% static 'images/2.jpg' %}" alt="" class="img-fluid">
					<div class="content">
						<h4 class="mt-4 mb-2  title-color">Marshal Root
                        </h4>
						<p class="mb-4">Surgeon, Cardiologist

                        </p>
					</div>
				</div>
			</div>
			
			<div class="col-lg-3 col-md-6 col-sm-6">
				<div class="about-block mb-5">
					<img src="{% static 'images/3.jpg' %}" alt="" class="img-fluid">
					<div class="content">
						<h4 class="mt-4 mb-2 title-color">Siamon john</h4>
						<p class="mb-4">Internist, General Practitioner

                        </p>
					</div>
				</div>
			</div>


			<div class="col-lg-3 col-md-6 col-sm-6">
				<div class="about-block mb-5 mb-lg-0">
					<img src="{% static 'images/4.jpg' %}" alt="" class="img-fluid">
					<div class="content">
						<h4 class="mt-4 mb-2 title-color">Rishat Ahmed</h4>
						<p class="mb-4">Orthopedic Surgeon</p>
					</div>
				</div>
			</div>			
		</div>
	</div>
</section>

{% include "footer.html" %}

{% endblock %}