{% extends "master.html" %}
{% load static %}  
{% block title %}
Services
{% endblock %}
{% block content %}
{% include "navbar.html" %}

<section class="mt-5 mb-5">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-7 text-center mt-5">
          <h1 class="mb-4">
            Award Winning Patient care
          </h1>
          <div class="divider mx-auto mb-4"></div>
          <p class="col-12">Lets know moreel necessitatibus dolor asperiores illum possimus sint voluptates incidunt
            molestias nostrum laudantium. Maiores porro cumque quaerat.</p>
        </div>
      </div>
    </div>
  </section>


<section class="serv mt-5 p-5 ">
	<div class="container ">
		<div class="row ">
			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="service-block mb-5 ">
					<img src="{% static 'images/service-1.jpg' %}" alt="" class="img-fluid">
					<div class="content">
						<h4 class="mt-4 mb-2 title-color">Opthomology </h4>
						<p class="mb-4">Saepe nulla praesentium eaque omnis perferendis a doloremque.</p>
					</div>
				</div>
			</div>

			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="service-block mb-5">
					<img src="{% static 'images/service-2.jpg' %}" alt="" class="img-fluid">
					<div class="content">
						<h4 class="mt-4 mb-2  title-color">Cardiology</h4>
						<p class="mb-4">Saepe nulla praesentium eaque omnis perferendis a doloremque.</p>
					</div>
				</div>
			</div>
			
			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="service-block mb-5">
					<img src="{% static 'images/service-3.jpg' %}" alt="" class="img-fluid">
					<div class="content">
						<h4 class="mt-4 mb-2 title-color">Dental Care</h4>
						<p class="mb-4">Saepe nulla praesentium eaque omnis perferendis a doloremque.</p>
					</div>
				</div>
			</div>


			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="service-block mb-5 mb-lg-0">
					<img src="{% static 'images/service-4.jpg' %}" alt="" class="img-fluid">
					<div class="content">
						<h4 class="mt-4 mb-2 title-color">Child Care</h4>
						<p class="mb-4">Saepe nulla praesentium eaque omnis perferendis a doloremque.</p>
					</div>
				</div>
			</div>

			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="service-block mb-5 mb-lg-0">
					<img src="{% static 'images/service-6.jpg' %}" alt="" class="img-fluid">
					<div class="content">
						<h4 class="mt-4 mb-2 title-color">Pulmology</h4>
						<p class="mb-4">Saepe nulla praesentium eaque omnis perferendis a doloremque.</p>
					</div>
				</div>
			</div>
			
			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="service-block mb-5 mb-lg-0">
					<img src="{% static 'images/service-8.jpg' %}" alt="" class="img-fluid">
					<div class="content">
						<h4 class="mt-4 mb-2 title-color">Gynecology</h4>
						<p class="mb-4">Saepe nulla praesentium eaque omnis perferendis a doloremque.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

{% include "footer.html" %}

{% endblock %}